/* CSS file */

Label
{
  color: #ffffff;
  letterSpacing: 3;
  fontSize: 12;
}

Button 
{
  fillAlphas: 0.8, 0.8;
  fillColors: #ffffff, #ffffff;
  highlightAlphas: 0, 0;
  cornerRadius: 2;
  borderColor: #aa0000;
  letterSpacing: 1;
  fontSize: 8;
}

TextInput
{
  backgroundColor: #ffffff;
  backgroundAlpha: 0.8;
  borderThickness: 1;
  borderColor: #770000;
  borderStyle: solid;
  textAlign: center;
  fontSize: 9;
}